.carousel {
  position: relative;
}
.carousel-left,
.carousel-right {
  content: '';
  width: 20px;
  height: 20px;
  display: block;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  margin: 4px;
  transform: translateY(-50%);
  background-color: aliceblue;
  z-index: 99;
}
.carousel-right {
  right: 0;
}
.carousel > div {
  transition: all 2s;
}