<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Carousel</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="./Carousel.css"></link>
  <style>
    .carousel {
      width: 100px;
      height: 50px;
    }
  </style>
</head>
<body>
  <div class="carousel"></div>
  <script src="./Carousel.js"></script>
  <script>
    window.carousel('.carousel', {
      imgs: ['a', 'b', 'c', 'd'],
      urls: ['#','#','#','#'],
      draggable: true,
      showBtn: true,
      autoSwipe: true
    });
  </script>
</body>
</html>